<div class="container pt-28">
  <app-heading
    title="Reservations"
    subtitle="See all upcoming and past reservations for your properties."
  />
  @if (reservationResource.isLoading()) {
    <div class="flex justify-center py-20">
      <div class="loader"></div>
    </div>
  }

  @if (!reservationResource.isLoading() && reservationResource.value()?.length == 0) {
    <div class="h-[50vh] flex flex-col gap-2 justify-center items-center">
      <app-heading title="No reservations found!" subtitle="You don`t have any reservations yet." />
    </div>
  }
  <div class="mt-10 col-span-full grid-responsive">
    @for (reservation of reservationResource.value(); track reservation.id) {
      <app-listing-card
        [data]="reservation.listing"
        actionLabel="Cancel Reservation"
        (onAction)="onDelete(reservation.id)"
      />
    }
  </div>
</div>
