<div
  class="border border-gray-200 w-full md:w-auto py-2 rounded-full shadow-sm hover:shadow-md cursor-pointer"
>
  <div class="flex items-center justify-between">
    <div class="text-sm font-semibold px-6 text-gray-700">where to?</div>
    <div
      class="hidden sm:block text-sm font-semibold text-gray-700 px-6 border-x border-gray-700 text-center"
    >
      when?
    </div>
    <div class="text-sm pl-6 pr-2 text-gray-500 flex items-center gap-3">
      <div class="hidden sm:block">Who's coming</div>
      <div class="p-2 bg-sky-600 rounded-full text-white">
        <ng-icon name="heroMagnifyingGlassMicro" size="16" />
      </div>
    </div>
  </div>
</div>
